@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
  --lightgray: rgb(201, 197, 197);
  --blue: #ff1423;
}

body,
html {
  background: rgb(64, 62, 62);
  margin: 0px;
  padding: 0px;
}

.title-container {
  display: flex;
  justify-content: center;
}

.starting_questions {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container > .title-container {
  font-family: 'Poppins';
  font-weight: 700;
  color: var(--lightgray);
  font-size: 1.5em;
  margin-top: 35px;
}

.container > .starting_questions {
  font-size: 18px;
  color: var(--lightgray);
  font-family: 'Poppins';
}

.container > .starting_questions > label {
  margin-right: 15px;
}

.show_monthly {
  font-size: 18px;
  color: var(--lightgray);
  font-family: 'Poppins';
  display: none;
}
